* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.petcard{
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%,0.1);
  padding: 20px;
  margin: 10px;
  text-align: left;
  max-width: 250px;
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
